@use '@/styles/mixin' as *;

.container {
  position: relative;
  padding: 18rem 0 4rem;

  @include mq(md) {
    padding: 14rem 0 4rem;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 26rem;
  background-color: var(--main1);
  transform: translate(-50%);

  @include mq(md) {
    height: 19rem;
  }
}
