.imageList {
  width: 100%;
  height: 30rem;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.imageContainer {
  position: relative;
  min-width: 40rem;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
