@use '@/styles/mixin' as *;

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;

  @include mq(md) {
    border-radius: 1rem;
  }

  &:hover {
    opacity: 0.9;
  }
}

.image {
  object-fit: cover;
}
