@use "@/styles/mixin" as *;

.container {
  width: 50%;

  @include mq(md) {
    width: 100%;
  }
}

.title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 150%;
}

.input {
  border-radius: 90rem;
}
