@use '@/styles/mixin' as *;

.container {
  width: 100%;
  padding: 8rem 0;
  justify-content: space-between;
  gap: 6.4rem 1.6rem;

  @include mq(md) {
    justify-content: center;
    flex-direction: column;
  }
}

.conceptItem {
  width: calc((100% - 3.2rem) / 3);

  @include mq(md) {
    width: 100%;
  }
}

.icon {
  svg {
    height: 12rem;

    @include mq(md) {
      height: 15rem;
    }
  }
}
