.primary {
  font-size: 1.4rem;

  span {
    flex-shrink: 0;
  }
}

.input {
  width: 100%;
  max-width: 100%;
  max-height: 3.8rem;
  padding: 1.1rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--w4);
  border-radius: 0.2rem;
  background-color: var(--w11);

  &:disabled {
    background-color: var(--w4);
  }

  &::placeholder {
    color: var(--b3);
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 30rem var(--w1) inset;
  }
}

.decoration {
  font-weight: 600;
  font-size: 1.2rem;
}

.explanation {
  font-size: 1.2rem;
  color: var(--b2);
  line-height: 150%;
}

.input-outer {
  position: relative;

  .attention {
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
