@use '@/styles/mixin' as *;

.post {
  padding-top: 2.4rem;
  gap: 1.8rem;

  &:first-child {
    padding-top: 0;
  }

  @include mq(md) {
    gap: 1.2rem;
  }

  > div {
    > img {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    > .subject {
      font-size: 2.4rem;
      transition: color 0.3s ease;

      @include mq(md) {
        font-size: 1.8rem;
      }
    }

    > .description {
      font-size: 1.4rem;
      transition: color 0.3s ease;

      @include mq(md) {
        font-size: 1.2rem;
      }
    }
  }

  &:hover {
    cursor: pointer;

    > div {
      > img {
        transform: scale(1.1);
        opacity: 0.8;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

      > .subject {
        color: var(--accent1);
        transition: color 0.3s ease;
      }

      > .description {
        color: var(--accent2);
        transition: color 0.3s ease;
      }
    }
  }
}

.imageContainer {
  width: 100%;
  position: relative;
  overflow: hidden;

  aspect-ratio: 1/ 0.6;
}

.detailContainer {
  gap: 1.2rem;

  @include mq(md) {
    gap: 0.8rem;
  }
}

.buttonContainer {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.viewButton {
  color: var(--accent1);
  transition: color 0.3s ease;

  &:hover {
    color: var(--main1);
  }
}
