@use '@/styles/mixin' as *;

.container {
  padding: 8.4rem 0 7.2rem;

  @include mq(md) {
    padding: 6.4rem 0;
  }
}

.containerInner {
  gap: 3.2rem;

  @include mq(md) {
    gap: 2.4rem;
  }
}

.postTitle {
  font-size: 4.8rem;

  @include mq(md) {
    font-size: 4rem;
  }
}

.buttonContainer {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.viewButton {
  color: var(--accent1);
  transition: color 0.3s ease;

  &:hover {
    color: var(--main1);
  }
}
