@use '@/styles/mixin' as *;

.card {
  width: 50%;
  padding: 3.2rem;
  border-radius: 2.4rem;
  opacity: 0;
  transform: translateY(5rem);
  transition: all 1s ease;

  &.open {
    transform: translateY(0);
    opacity: 1;
  }

  @include mq(md) {
    width: 100%;
  }
}
