@use '@/styles/mixin' as *;

.cardContainer {
  width: calc((100% - 1.6rem * 3) / 4);

  @include mq(md) {
    width: calc((100% - 1.6rem * 2) / 3);
  }

  @include mq(sm) {
    width: calc((100% - 1.6rem) / 2);
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  border-radius: 1.6rem;
  background-color: var(--w1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.3);

    > .imageContainer {
      > .image {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }
  }
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 1.2rem;
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: all 0.3s ease;
}

.noImageText {
  font-size: 1.6rem;

  @include mq(md) {
    font-size: 1.2rem;
  }
}

.noImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--w3);
}

.cardDetailContainer {
  padding: 1.2rem;
}
