.container {
  min-height: calc(100vh - 6rem);
}

.image {
  object-fit: cover;
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
