@use "@/styles/mixin" as *;

.memberButton {
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--main1);

  &:hover {
    cursor: pointer;
    color: var(--accent1);
  }
}

.PcContainer {
  display: block;

  @include mq(md) {
    display: none;
  }
}

.SpContainer {
  display: none;

  @include mq(md) {
    display: block;
    position: relative;
    width: 3.6rem;
    height: 3.6rem;

    > span {
      position: absolute;
      left: 50%;
      width: 2.4rem;
      height: 0.2rem;
      background-color: var(--main1);
      transform: translate(-50%, -50%);
    }

    > span:nth-child(1) {
      transform: translate(-50%, calc(-50% + 0.8rem));
    }

    > span:nth-child(2) {
      transform: translate(-50%, -50%);
    }

    > span:nth-child(3) {
      transform: translate(-50%, calc(-50% - 0.8rem));
    }
  }

  &:hover {
    cursor: pointer;
    transition: transform 0.3s ease;

    > span {
      background-color: var(--accent1);
    }
  }
}

.open {
  > span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  > span:nth-child(2) {
    display: none;
  }

  > span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
